/* ALERTS */
.alert {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  line-height: 21px;
}
.alert-success {
  background-color: #95b75d;
  color: #FFF;
  border-color: #90b456;
}
.alert-info {
  background-color: #3fbae4;
  color: #FFF;
  border-color: #36b7e3;
}
.alert-warning {
  background-color: #fea223;
  color: #FFF;
  border-color: #fe9e19;
}
.alert-danger {
  background-color: #b64645;
  color: #FFF;
  border-color: #af4342;
}
/* EOF ALERTS */